body{
    background-color: rgb(247, 242, 242);
}

span{
    color: rgb(228, 134, 11);
}



.ingresar{
    
    color: rgb(10, 12, 11);
    font-family: cursive;
}
.registrarse{
    float: ;
    color: rgb(10, 12, 11);
    font-family: cursive;
}


.carrito{
    float: center
    ;
}

h2{

text-align: center;
}

.webpay{
    float: right;
}

#mediop{
    text-align: right;
}

#siguenos{
    text-align: left;
}